 .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  .site-layout-background {
    background: #fff;
    padding: 24px;
    /* padding: 10px 10px 10px 0px; */
    min-height: 360px
  }